/* Do not change any line marked -keep- */

html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}
body {
    font-family:'Libre Baskerville', 'Palatino', 'Georgia', serif;
    background: #5598b2; /* keep */
    color: #333; /* keep */
    margin: 0; /* keep */
}
h1, h2 {
    font-family: 'Titillium Web', 'Tahoma', 'Arial Narrow', sans-serif;
}
#tagline {
    font-style: italic;
}
/* all images will stretch to fill their containing element */
img {
    display: block; /* keep */
    width: 100%; /* keep */
}

/* In the grid container below, you will change the columns,
    the rows, and the AREAS to layout the page as instructed
    in the assignment. After it matches the wide example, you will
    write a media query with CSS rules to change the
    layout to match the phone layout example.
    */

/* grid container */
#container {
    max-width: 1280px; /* keep */
    margin: auto; /* keep */
    display: grid; /* keep */
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header header"
      "pairing pairing pairing arial georgia"
      "bobwhite-quail bobwhite-quail bobwhite-quail line-length readability"  "bobwhite-quail bobwhite-quail bobwhite-quail line-length readability"
      "typeface typeface typeface helvetica helvetica"
      "footer footer footer footer footer";

}

/*  "header arial georgia pairing bobwhite-quail"
  "readability line-length helvetica typeface footer"; */

/* all grid items -
    these are the 10 direct children of the container
    - all the grid items are here already!
    You may add lines as needed. Do not change any line marked -keep-
    */

header {
    grid-area: header; /* keep */
    background: #fff; /* keep */
    padding: 0;
    padding-bottom: 3em;
    text-align: center;
    font-size: 30px;

}
#arial {
    grid-area: arial; /* keep */
    background: #a8e8ff; /* keep */
    padding: 1em;
    padding-top: 4em;
    font-size: 13px;

}
#georgia {
    grid-area: georgia; /* keep */
    background: #a8e8ff; /* keep */
    padding: 1em;
    padding-top: 4em;
    font-size: 13px;

}
#pairing {
    grid-area: pairing; /* keep */
    background: #a8e8ff; /* keep */
    margin: 0;
    padding: 2em;
    padding-top: 4em;
    line-height: 1.2em;
    font-size: 18px;

}
#bobwhite-quail {
    grid-area: bobwhite-quail; /* keep */
    background: #d2f4ff; /* keep */
    font-size: 13px;
    padding: 3em;

    padding-top: 4em;
    grid-column: 1 / 3;

}
#readability {
    grid-area: readability; /* keep */
    background: #d2f4ff; /* keep */
    font-size: 18px;
    padding-right: 3em;
   padding-top: 3em;
    padding-bottom: 2em;
    grid-column: 3 / 6 ;
    align-self: start;
    margin: 0;

}
#line-length {
    grid-area: line-length; /* keep */
    background: #d2f4ff; /* keep */
    font-size: 18px;
    padding-right: 3em;
   padding-bottom: 3em;
    padding-top: 2em;
    grid-column: 3 / 6 ;
    align-self: end;
   margin: 0;
/* row-start / column-start / row-end / column-end */
}
#helvetica {
    grid-area: helvetica; /* keep */
    background: #fff; /* keep */
    font-size: 13px;
    align-self: start;
    padding: 4em;
    margin: 5em;
    align-self: start;


}
#typeface {
    grid-area: typeface; /* keep */
    color: #d2f4ff; /* keep */
    background: #5598b2; /* keep */
    font-size: 18px;
    padding: 3em;
    line-height: 25px;
    text-shadow: .1em .1em gray;

}
footer {
    grid-area: footer; /* keep */
    background: #b2988a; /* keep */
   text-align: center;
    padding: 1em;
}

/* end of all 10 grid items */


/* pseudo classes */
a {
    color: #7c6a60; /* keep */
}
a:hover {
    color: #f4cdb7; /* keep */
    text-decoration: none; /* keep */
}

/* media queries below - only 1 is needed */
@media screen and (max-width: 700px) {
   #container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
          "header header"
          "arial georgia"
          "pairing pairing"
          "bobwhite-quail bobwhite-quail"
          "readability readability"
          "line-length line-length"
          "helvetica helvetica"
          "typeface typeface"
          "footer footer";
    ;
  }
  header img {
    display: none;
  }
  #readability {
   grid-column: 1 / 3;
    padding-left: 1.2em;
    padding-top: 0em;
    padding-bottom: 0em;
}
  #line-length {
  grid-column: 1 / 3;
 padding-left: 1.2em;
    padding-top: 0em;
    }
  #typeface {
    padding: 1em;
}
  #header {
     padding: 5em;
}

  #bobwhite-quail {
     padding: 1.2em;
     padding-bottom: 0em;
}
  #helvetica {
    margin: 0em;
    padding: 2em;
}

}
